@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-remaining-1 {
    height: calc(100vh - 1rem);
  }
  .h-remaining-2 {
    height: calc(100vh - 2rem);
  }
  .h-remaining-3 {
    height: calc(100vh - 3rem);
  }
  .h-remaining-4 {
    height: calc(100vh - 4rem);
  }
  .h-remaining-5 {
    height: calc(100vh - 5rem);
  }
  .h-remaining-6 {
    height: calc(100vh - 6rem);
  }
  .h-remaining-7 {
    height: calc(100vh - 7rem);
  }
  .h-remaining-8 {
    height: calc(100vh - 8rem);
  }
  .h-remaining-9 {
    height: calc(100vh - 9rem);
  }
  .h-remaining-10 {
    height: calc(100vh - 10rem);
  }
  .h-remaining-11 {
    height: calc(100vh - 11rem);
  }
  .h-remaining-12 {
    height: calc(100vh - 12rem);
  }
  .h-remaining-13 {
    height: calc(100vh - 13rem);
  }
  .h-remaining-14 {
    height: calc(100vh - 14rem);
  }
  .h-remaining-15 {
    height: calc(100vh - 15rem);
  }
}

.hero-bg-image {
  @apply overflow-hidden relative;
}

.hero-bg-image::before {
  @apply block scale-110 bg-cover absolute right-0 left-0 w-full h-full;
  z-index: -1;
  filter: brightness(0.25) blur(4px);
  content: "";
  background: url("$lib/images/sequence-bg.webp") no-repeat top center;
}
